In [1]:
from process_data import DataHandler

Using TensorFlow backend.

In [2]:
s = DataHandler("../data/CoNLL-2003/eng.testa")

In [3]:
s.get_data()[0].shape

(3466, 109, 200)

In [19]:
s.get_data()[1].shape

(3466, 109, 5)

In [4]:
from NER_model import NER

In [5]:
m = NER(s)

In [ ]:
m.make_and_compile(units=100, dropout=0.0, regul_alpha=0.0001)

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
bidirectional_1 (Bidirectional)  (None, 109, 200)      240800      bidirectional_input_1[0][0]
____________________________________________________________________________________________________
timedistributed_1 (TimeDistribut (None, 109, 5)        1005        bidirectional_1[0][0]
____________________________________________________________________________________________________
dropout_1 (Dropout)              (None, 109, 5)        0           timedistributed_1[0][0]
====================================================================================================
Total params: 241,805
Trainable params: 241,805
Non-trainable params: 0
____________________________________________________________________________________________________
None

In [ ]:
# m.train()
m.train(epochs=5)

Epoch 1/5
2792/2792 [==============================] - 27s - loss: 0.4849 - acc: 0.9583
Epoch 2/5
2792/2792 [==============================] - 25s - loss: 0.2154 - acc: 0.9773
Epoch 3/5
2792/2792 [==============================] - 25s - loss: 0.1768 - acc: 0.9776
Epoch 4/5
2792/2792 [==============================] - 25s - loss: 0.1532 - acc: 0.9794
Epoch 5/5
2750/2792 [============================>.] - ETA: 0s - loss: 0.1370 - acc: 0.9809

In [12]:
m.evaluate()

             precision    recall  f1-score   support

        LOC       0.86      0.03      0.05       430
       MISC       0.65      0.11      0.19       229
          O       0.82      0.99      0.90      5580
        ORG       0.85      0.09      0.16       440
        PER       0.68      0.49      0.57       585

avg / total       0.81      0.81      0.76      7264

      LOC  MISC     O  ORG  PER
LOC    12     6   359    4   49
MISC    0    26   197    3    3
O       2     5  5533    0   40
ORG     0     3   355   40   42
PER     0     0   296    0  289

In [14]:
# m.predict_tags("The strongest man on Earth is Mark Henry")
m.predict_tags("The strongest rain ever recorded in India shut down the financial hub of Mumbai, snapped communication lines, closed airports and forced thousands of people to sleep in their offices or walk home during the night, officials said today.")

The/O
strongest/O
rain/O
ever/O
recorded/O
in/O
India/O
shut/O
down/O
the/O
financial/O
hub/O
of/O
Mumbai,/O
snapped/O
communication/O
lines,/O
closed/O
airports/O
and/O
forced/O
thousands/O
of/O
people/O
to/O
sleep/O
in/O
their/O
offices/O
or/O
walk/O
home/O
during/O
the/O
night,/O
officials/O
said/O
today./O

In [15]:
m.model.save("./first_model")

In [ ]:
# from keras.models import load_model
# m.model = load_model("./first_model")