In [1]:
from process_data import DataHandler

Using TensorFlow backend.

In [2]:
s = DataHandler("../data/CoNLL-2003/eng.testa")

In [3]:
s.get_data()[0].shape

(3466, 109, 200)

In [4]:
from NER_model import NER

In [12]:
m = NER(s)

In [13]:
m.make_and_compile(units=100, dropout=0.0, regul_alpha=0.0001)

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
bidirectional_2 (Bidirectional)  (None, 109, 200)      240800      bidirectional_input_2[0][0]
____________________________________________________________________________________________________
timedistributed_2 (TimeDistribut (None, 109, 5)        1005        bidirectional_2[0][0]
____________________________________________________________________________________________________
dropout_2 (Dropout)              (None, 109, 5)        0           timedistributed_2[0][0]
====================================================================================================
Total params: 241,805
Trainable params: 241,805
Non-trainable params: 0
____________________________________________________________________________________________________
None

In [14]:
# m.train()
m.train(epochs=20)

Epoch 1/20
2776/2776 [==============================] - 28s - loss: 0.4954 - acc: 0.9572
Epoch 2/20
2776/2776 [==============================] - 25s - loss: 0.2155 - acc: 0.9774
Epoch 3/20
2776/2776 [==============================] - 26s - loss: 0.1757 - acc: 0.9781
Epoch 4/20
2776/2776 [==============================] - 24s - loss: 0.1516 - acc: 0.9798
Epoch 5/20
2776/2776 [==============================] - 24s - loss: 0.1356 - acc: 0.9817
Epoch 6/20
2776/2776 [==============================] - 24s - loss: 0.1245 - acc: 0.9828
Epoch 7/20
2776/2776 [==============================] - 25s - loss: 0.1160 - acc: 0.9836
Epoch 8/20
2776/2776 [==============================] - 25s - loss: 0.1092 - acc: 0.9841
Epoch 9/20
2776/2776 [==============================] - 24s - loss: 0.1037 - acc: 0.9844
Epoch 10/20
2776/2776 [==============================] - 24s - loss: 0.0987 - acc: 0.9847
Epoch 11/20
2776/2776 [==============================] - 24s - loss: 0.0947 - acc: 0.9850
Epoch 12/20
2776/2776 [==============================] - 24s - loss: 0.0909 - acc: 0.9854
Epoch 13/20
2776/2776 [==============================] - 25s - loss: 0.0885 - acc: 0.9853
Epoch 14/20
2776/2776 [==============================] - 25s - loss: 0.0854 - acc: 0.9858
Epoch 15/20
2776/2776 [==============================] - 25s - loss: 0.0821 - acc: 0.9861
Epoch 16/20
2776/2776 [==============================] - 24s - loss: 0.0800 - acc: 0.9864
Epoch 17/20
2776/2776 [==============================] - 25s - loss: 0.0787 - acc: 0.9863
Epoch 18/20
2776/2776 [==============================] - 25s - loss: 0.0758 - acc: 0.9867
Epoch 19/20
2776/2776 [==============================] - 24s - loss: 0.0737 - acc: 0.9870
Epoch 20/20
2776/2776 [==============================] - 24s - loss: 0.0722 - acc: 0.9870

In [15]:
m.evaluate()

             precision    recall  f1-score   support

        LOC       0.68      0.46      0.55       452
       MISC       0.90      0.21      0.34       263
          O       0.87      0.99      0.93      5788
        ORG       0.81      0.22      0.35       396
        PER       0.82      0.69      0.75       655

avg / total       0.85      0.86      0.84      7554

      LOC  MISC     O  ORG  PER
LOC   207     3   213    9   20
MISC   16    55   184    3    5
O      41     2  5703    5   37
ORG    30     1   243   88   34
PER    10     0   192    4  449

In [23]:
m.predict_tags("The strongest man on Earth is Obama in China and India")
# m.predict_tags("The strongest rain ever recorded in India shut down the financial hub of Mumbai, snapped communication lines, closed airports and forced thousands of people to sleep in their offices or walk home during the night, officials said today.")

The/O
strongest/O
man/O
on/O
Earth/O
is/O
Obama/O
in/O
China/LOC
and/O
India/O

In [10]:
m.model.save("./first_model")

In [11]:
# from keras.models import load_model
# m.model = load_model("./first_model")